body{
    background-color: sandybrown;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* #mem_body{
    background-image: url("../other_proj_files/carl_consumer/booksbackground.jpg");
    background-color: #cccccc;
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */

.main_div{
    display: flexbox;
}

.content_div{
    margin: 20px;
    padding: 20px;
}

.form_div{
    margin: 20px;
    padding: 20px;
    /* text-align: center; */
}

.reg_form{
    text-align: center;
}

.center{
    text-align: center; 
}

#reg_form_fields{
    text-align: left;
    width: 300px;
}

